.header__search {
  display:flex;
  justify-content:space-between;
  align-items: center;
  border: 1px solid #F1F1F1;
  border-inline: none;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 20px;
  margin-top: 19px;
  .header__input {
    background-color: #F1F1F1;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 10px 11px 25px;
    .icon {
      cursor: pointer;
      transition: all 0.5s ease-out;
    }
    .icon:hover {
      transform: scale(1.2);
    }
    .header__search__input {
      background-color: transparent;
    }
}
}
