.board {
  //min-width: 300px;
  //max-height: 400px;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  //display: flex;
  align-items: center;
  //flex-direction: column;
  background: #F3F3F3;
  width: 350px;
}
.board__title {
  color: #000;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 11px;
  text-align: center;
}
.item {
  width: 100%;
  padding: 10px;
  //border: 2px solid lightpink;
  border-radius: 6px;
  margin: 5px 0;
  cursor: grab;
  background:transparent;
  transition: all 0.2s ease;
}
.item:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  color: red;
  font-size: 14px;
  transition: all 0.5s ease;
}
.item__text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
.main-item {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start
  //justify-content: flex-start;
}
.place__now {
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  padding: 4px 9px;
}
.bg-blue {
  color: #FFF;
  background:#5BBA7C;
}
.bg-gray {
  color: #FFF;
  background: #747F9E;
}
.boar__item__add__btn {
  display: block;
  margin: 0 auto;
}
