.board {
  //min-width: 300px;
  //max-height: 400px;
  border-radius: 5px;
  //margin: 10px;
  margin-top: 10px;
  padding: 10px;
  //display: flex;
  align-items: center;
  //flex-direction: column;
  background: #F3F3F3;
  max-width: 350px;
  min-width: 230px;
  min-height: 60px;
}
.board__title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 11px;
  text-align: center;
}
.item {
  width: 100%;
  //border: 2px solid lightpink;
  border-radius: 6px;
  margin: 5px 0;
  cursor: grab;
  background:transparent;
  transition: all 0.2s ease;
  animation: fadeIn 0.5s ease-in-out;
}
//.item:hover{
//  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
//  color: red;
//  font-size: 14px;
//  transition: all 0.5s ease;
//}
.item__text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  padding: 7px;
  border-radius: 5px;
  background-color: white;
  color: #000
}
.main-item {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start
  //justify-content: flex-start;
}
.place__now {
  border-radius: 4px;
  font-size: 9px;
  font-weight: 400;
  padding: 4px 9px;
}
.bg-blue {
  color: #FFF;
  background:#5BBA7C;
}
.bg-gray {
  color: #FFF;
  background: #747F9E;
}
.boar__item__add__btn {
  display: block;
  margin: 0 auto;
}
.images{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.board__title__wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //background-color: #00A3FF;
  padding: 10px;
  color: var(--brand-blue);
  max-width: 350px;
  min-width: 230px;
  border-radius: 10px;
  //background: var(--light-blue);
  margin-top: 10px;
}
.board__icon{
  display: flex;
  align-items: center;
  gap:20px
}
