.user__avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.seccess{
  width: 20px;
  height: 20px;
  background: #5CC139;
  border-radius: 50%;
}
.error{
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;

}
.prisoner__item {
  &__header {
  }
  .prisoner__name {
    color: #000;
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .prisoner__pnfl {
    color: #000;
    font-family: "Roboto" ,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

  }
  .prisoner__data{
    display: flex;
    align-items: center;
  }
  .prisoner__item__btn {
    border-radius: 11px;
    border: 1px solid #D3D3D3;
    padding: 14px 15px;
    margin-left: 24px;
    color: #000;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media (max-width: 1300px) {
      padding: 9px 11px;
      margin-left: 15px;
      font-size: 12px;
    }
    &:hover {
      background-color: #A1CADC;
      color: #fff
    }
  }
  .prisoner__tab__wrapper {
    .prisoner__tab__item{
      font-size: 20px;
      font-weight: 400;
      color: #000;
    }
  }
  .bg-edit {
    background: #A1CADC;
  }
  .bg-expelling {
    background: #00D909;
  }
}
.forms__wrapper {
  width: 100%;
  margin: 50px auto 0 auto;
  border-radius: 10px;
  border: 1px solid #F1F1F1;
  padding: 30px;
}
.formsm__wrapper {
  max-width: 70%;
  margin: 50px auto 0 0;
  border-radius: 10px;
  border: 1px solid #F1F1F1;
  padding: 30px;
  //background-color: #F3F3F3;
}
 //.time__check{
 //  padding: 10px;
 //}
.statusItem{
  //margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  &-status {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
    padding: 10px;
  }
  &-isdisible {
    background-color:#EFF2FF;
    color: #000000;
    cursor: pointer;
  }
  &-disible {
    background-color:#DBDBDB;
    color: #A09F9F;
    cursor: no-drop;
  }
  &_bg-add {
    background-color: #C4CDF4;
  }
}
